.home-page-body-section {
    background-color: var(--background-color);
    width: 94%;
    margin: auto;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    margin: 0;
    padding: 20px;
}
.product-list-title {
    margin: 0;
    padding: 20px 20px 0px 20px;
}
.product {
    list-style: none;
    border-radius: 6px;
    background-color: #ffffff;
    box-shadow: 1px 1px 1px 1px #ebebeb;
    padding: 15px;
}
.product-title {
    margin: 0;
    padding: 2px 4px;
}
.product-rating {
    font-size: 12px;
}
.product-img {
    object-fit: contain;
    width: 100%;
    margin-bottom: 5px;
}
.product-info,
.product-rating,
.product-price {
    margin: 0px 0px 5px 0px;
    padding: 2px 4px;
}

.product-info {
    color: var(--light-text);
    font-size: smaller;
}

.product-price {
    font-weight: 500;
}

.add-to-cart-btn {
    width: 100%;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    padding: 8px;
    border-radius: 5px;
}

.add-to-cart-btn:hover {
    cursor: pointer;
}