.cart-section {
    margin: 100px auto;
    width: 1200px;
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 20px;
}

.cart-products, .cart-summary-section {
    border-radius: 12px;
    padding: 10px;
    box-shadow: 1px 1px 3px 3px #eee, -1px -1px 3px 3px #eee;
}

.cart-product {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-items: center;
    gap: 10px;
    padding: 10px;
}

.product-qty {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 5px;
    border: 1px solid #dddddd;
    border-radius: 5px;
}

.qty-btn {
    padding: 2px 5px;
    border: none;
    background-color: #ffffff;
    cursor: pointer;
    /* font-size: 18px; */
}

.product-qty-count {
    padding: 5px;
}

.checkout-btn {
    width: stretch;
    padding: 8px;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.checkout-btn:hover {
    opacity: 90%;
}