.product-detail-section {
    max-width: 1300px;
    border-radius: 12px;
    margin: 80px auto;
    box-shadow: 1px 1px 3px 3px #eee, -1px -1px 3px 3px #eee;
    display: grid;
    grid-template-columns: auto 450px;
}

.product-left-section {
    text-align: center;
    padding: 40px 20px;
    border-right: 2px solid #eee;
}

.product-image {
    margin-bottom: 10px;
}

.product-right-section {
    display: flex;
    flex-direction: column;
    padding: 40px;
    justify-content: stretch;
    gap: 10px;
}

.product-page-btn {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

.product-page-btn:hover {
    opacity: 90%;
}

.color-selector-section {
    display: flex;
    gap: 10px;
    margin: 2px 0px 10px 0px;
    cursor: pointer;
}

.color-selector-section.active {
    padding: 2px;
}

.product-color-selector {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.product-color-selector {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid transparent;
    transition: transform 0.2s ease, outline 0.2s ease;
}

.product-color-selector.active {
    outline: 2px solid var(--primary-color);
    outline-offset: 1px;
}

.product-title {
    margin: 0;
    padding: 2px 4px;
}
.product-rating {
    font-size: 12px;
    margin-bottom: 10px;
}

.product-specification {
    font-size: 14px;
    
}