.product-detail-section {
    max-width: 1200px;
    border-radius: 12px;
    margin: 80px auto;
    box-shadow: 1px 1px 3px 3px #eee, -1px -1px 3px 3px #eee;
    display: grid;
    grid-template-columns: 1fr 0.6fr;
}

.product-left-section {
    text-align: center;
    padding: 40px 20px;
    border-right: 2px solid #eee;
}

.product-image {
    margin-bottom: 10px;
}

.product-right-section {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.product-page-btn {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

.color-selector-section {
    display: flex;
    gap: 10px;
    margin: 10px 0px;
    cursor: pointer;
}

.color-selector-section.active {
    padding: 2px;
}

.product-color-selector {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}


/* .color-swatches {
    display: flex;
    gap: 12px;
    margin: 10px 0 20px;
} */

.product-color-selector {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid transparent;
    transition: transform 0.2s ease, outline 0.2s ease;
}

/* Active indicator ring */
.product-color-selector.active {
    outline: 2px solid var(--primary-color);
    outline-offset: 1px;
    /* transform: scale(1.1); */
}